<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } else { %>
    <div>
      <img class="profile-avatar" src="https://www.creativeboom.com/uploads/articles/74/746ceb5d478678ae3627e314dac5c436e03c03a2_810.jpg" alt="Placeholder Avatar Img">
    </div>
  <% } %> 
  
</main>


  <%- include('../partials/footer') %>