<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="all-profile-container">
    <% profiles.forEach(profile => { %>
      <a href="/profiles/<%= profile._id %>" class="profile-anchor">
        <div class="profile-container">
          <div class="avatar-container">
            <% if (profile.avatar) { %>
              <img 
                class="profile-avatar"
                src="<%= profile.avatar %>"
                alt="<%= profile.name %> avatar"
              >
            <% } else { %>
              <div>
                <img class="profile-avatar" src="https://www.creativeboom.com/uploads/articles/74/746ceb5d478678ae3627e314dac5c436e03c03a2_810.jpg" alt="Placeholder Avatar Img">
              </div>
            <% } %> 
          </div>
          <div class="profile-content-container">
            <div class="profile-name">
              <%= profile.name %> 
            </div>
            <% if (profile.bio) { %>
              <div class="profile-bio">
                <%= profile.bio %> 
              </div>
            <% } %> 
            <% if (profile.twitchUrl.length && profile.twitchUrl[0] !== "") { %> 
              <div class="profile-twitch">
                  Twitch
              </div>
            <% } %> 
            <div class="console-container">
              <% profile.console.forEach(console => { %>
                <div class="console-container-child">
                  <div>
                    <%= console.system %> 
                  </div>
                  <div>
                    <%= console.gamerTag %> 
                  </div>
                </div>
              <% }) %>  
            </div>
          </div>
        </div>
      </a>
    <% }) %> 
  </div>
</main>
