<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      >
    </div>
    <div>
      <% profile.ownedGames.forEach(game => { %> 
      <a href="/games/<%= game._id %>">
        <img class="game-image-url" src="<%= game.imageUrl %>" alt="<%= game.title %>">
      </a>
      <% }) %> 
    </div>
  <% } %>
    <% profile.reviews.forEach(review => { %> 
      <div>
        <a href="/reviews/<%= review._id %>">
          <%= review.title %> 
        </a>
      </div>
      <% if (review.rating === "5") { %>   
        <div>⭐⭐⭐⭐⭐</div>
      <% } else if (review.rating === "4") { %>
        <div>⭐⭐⭐⭐</div> 
      <% } else if (review.rating === "3") { %> 
        <div>⭐⭐⭐</div> 
      <% } else if (review.rating === "2") { %> 
        <div>⭐⭐</div> 
      <% } else if (review.rating === "1") { %> 
        <div>⭐</div> 
      <% } %> 
      <div>
        <%= review.content %> 
      </div>
    <% }) %> 
</main>

<%- include('../partials/footer') %>