<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/reviews/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="all-review-container">
    <% reviews.forEach(review => { %>
      <a class="review-anchor" href="/reviews/<%= review._id %>">
        <div class="full-review-container">
          <div class="game-image container">
              <img class="game-image" src="<%= review.game.imageUrl %> " alt="image">
          </div>
          <div class="review-content-container">
            <div class="review-title">
                <%= review.title %> 
            </div>
            <div class="review-author">
              By: 
                <%= review.author.name %>
            </div>
            <div class="review-rating">
              <% if (review.rating === "5") { %>   
                ⭐⭐⭐⭐⭐
              <% } else if (review.rating === "4") { %>
                ⭐⭐⭐⭐ 
              <% } else if (review.rating === "3") { %> 
                ⭐⭐⭐ 
              <% } else if (review.rating === "2") { %> 
                ⭐⭐ 
              <% } else if (review.rating === "1") { %> 
                ⭐ 
              <% } %> 
            </div>
            <div class="review-content">
              <%= review.content %> 
            </div>
          </div>
        </div>
        <% }) %> 
      </a> 
  </div>
</main>




<%- include('../partials/footer') %>