<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
      <img src="<%= game.imageUrl %> " alt="<%= game.title %> image">
  </div>
  <div>
    <a href="/reviews/<%= review._id %>">
      <%= review.title %> 
    </a>
  </div>
  <% if (review.rating === "5") { %>   
    <div>⭐⭐⭐⭐⭐</div>
  <% } else if (review.rating === "4") { %>
    <div>⭐⭐⭐⭐</div> 
  <% } else if (review.rating === "3") { %> 
    <div>⭐⭐⭐</div> 
  <% } else if (review.rating === "2") { %> 
    <div>⭐⭐</div> 
  <% } else if (review.rating === "1") { %> 
    <div>⭐</div> 
  <% } %> 
  <div>
    <%= review.content %> 
  </div>
  <% if (isSelf) { %>
    <a href="/reviews/<%= review._id %>/edit"><button>Edit</button></a>
    <a href="#"><button>Delete</button></a>
  <% } %> 
</main>




<%- include('../partials/footer') %>