<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/reviews/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="full-review-container">
    <div class="game-image container">
      <a href="/games/<%= game._id %> ">
        <img class="game-image" src="<%= game.imageUrl %> " alt="<%= game.title %> image">
      </a>
    </div>
    <div class="review-content-container">
      <div class="review-title">
          <%= review.title %> 
      </div>
      <div class="review-author">
        By: 
        <a href="/profiles/<%= review.author._id %>">
          <%= review.author.name %>
        </a>
      </div>
      <div class="review-rating">
        <% if (review.rating === "5") { %>   
          ⭐⭐⭐⭐⭐
        <% } else if (review.rating === "4") { %>
          ⭐⭐⭐⭐ 
        <% } else if (review.rating === "3") { %> 
          ⭐⭐⭐ 
        <% } else if (review.rating === "2") { %> 
          ⭐⭐ 
        <% } else if (review.rating === "1") { %> 
          ⭐ 
        <% } %> 
      </div>
      <div class="review-content">
        <%= review.content %> 
      </div>
    </div>
  </div>
  <% if (isSelf) { %>
    <div class="edit-btn-container">
      <a href="/reviews/<%= review._id %>/edit"><button class="edit-btn">Edit</button></a>
    </div>
  <% } %> 
</main>




<%- include('../partials/footer') %>